<StackLayout>
  <Tabs>
    <TabStrip>
      <TabStripItem>
        <Label text="Home"></Label>
      </TabStripItem>
      <TabStripItem class="special">
        <Label text="Account"></Label>
      </TabStripItem>
      <TabStripItem class="special">
        <Label text="Search"></Label>
      </TabStripItem>
    </TabStrip>

    <TabContentItem>
      <GridLayout>
        <Label text="Home Page" class="h2 text-center"></Label>
      </GridLayout>
    </TabContentItem>
    <TabContentItem>
      <GridLayout>
        <Label text="Account Page" class="h2 text-center"></Label>
      </GridLayout>
    </TabContentItem>
    <TabContentItem>
      <GridLayout>
        <Label text="Search Page" class="h2 text-center"></Label>
      </GridLayout>
    </TabContentItem>
  </Tabs>
</StackLayout>
